.business-list {
  @include flexible;
  gap: 30px;
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: getcolor(primary-white);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
