.customers-list {
  @include flexible();
  gap: 30px;
  flex-wrap: wrap;
  &__link {
    fill: getcolor(borders-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    &:hover,
    &:focus {
      fill: getcolor(accent);
      border-color: getcolor(accent);
      transform: scale(1.1);
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
