.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: getcolor(accent);
  color: getcolor(primary-white);
  &:hover,
  &:focus {
    background-color: getcolor(hover-accent);
  }
}
