.logo {
  color: getcolor(accent);
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header__logo {
  padding: 16px 0;
  margin-right: 0;
  &--black {
    color: #000;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 90px;
  }
}
.footer__logo {
  margin-right: 0;
  &--white {
    color: getcolor(primary-white);
  }
}
