.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 390ms $transition-function;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: scale(0.9);
    transition: transform 550 $transition-function;
  }
  &::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: getcolor(accent);
  }
}

.modal {
  position: relative;
  transition: transform 550ms $transition-function;
  width: 320px;
  min-height: 581px;
  transform: scale(1);
  background-color: getcolor(primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
  &-open {
    overflow: hidden;
  }
}

.close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: getcolor(primary-white);
  fill: #000;
  transition: fill 250ms $transition-function;
  &:focus,
  &:hover {
    fill: getcolor(accent);
  }
}
.form {
  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.15;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: getcolor(primary-p);
    margin-bottom: 10px;
    &:nth-child(5) {
      margin-bottom: 20px;
    }
  }
  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms $transition-function;
    color: getcolor(primary-p);
    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
      outline: none;
      border: 1px solid #2196f3;
    }
  }

  &__wrapper {
    position: relative;
  }
  &__icon {
    transition: fill 250ms $transition-function;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    left: 12px;
    .form__input:hover + &,
    .form__input:focus + & {
      fill: getcolor(accent);
    }
  }
  &__textarea {
    height: 120px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    background-color: getcolor(accent);
    color: getcolor(primary-white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: getcolor(hover-accent);
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media screen and (max-width: 1199px) {
    margin-right: 15px;
  }
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__input:checked ~ &__title::before {
    background-color: getcolor(accent);
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 65% 60%;
    border-color: transparent;
    background-origin: border-box;
    transition: background-color 250ms $transition-function;
  }
  &__title::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 8px;
    border: 2px solid #000;
    border-radius: 2px;
    transition: background-color 250ms $transition-function;
  }
  &__title {
    font-size: 12px;
    line-height: 1.16;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  &__link {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: getcolor(accent);
    text-decoration: underline;
  }
}
