%link-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header {
  border-bottom: 1px solid #ececec;
  &-nav {
    display: flex;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  &__main-nav {
    @include align;
    justify-content: space-between;
  }
  &-nav__link {
    @extend %link-style;
    color: getcolor(primary-h);
    &:hover,
    &:focus {
      color: getcolor(accent);
    }
  }
  &-nav__link--current {
    color: getcolor(accent);
    position: relative;
  }
  &-nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: getcolor(accent);
    border-radius: 4px;
    bottom: 0;
    left: 0;
  }
}
.menu-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-open .menu__open {
    display: none;
  }
  & .menu__close{
    display: none;
  }
  &.is-open .menu__close{
    display: block;
  }
}

.nav {
  @include align;
}
.contacts-list {
  &__item:not(:first-child) {
    margin-left: 30px;
  }
  &__link {
    @include align;
    @extend %link-style;
    color: getcolor(primary-p);
    &:hover,
    &:focus {
      color: getcolor(accent);
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
