.section {
  background-color: getcolor(primary-white);
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &__title--hero {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getcolor(primary-white);
  }
  &--team-bg {
    background-color: getcolor(secondary-bg);
  }
  &--hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: getcolor(hero-footer-color);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/briefing.jpg');
    text-align: center;
  }
  &--padding {
    padding-top: 0;
  }
}
