.team-list {
  @include flexible;
  gap: 30px;
  &__photo {
    margin-bottom: 30px;
  }
  &__name {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  &__member {
    background-color: getcolor(primary-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__position {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    color: getcolor(primary-p);
  }
}

.social-list {
  @include flexible;
  gap: 10px;
  padding-bottom: 30px;
  &__link {
    fill: getcolor(borders-color);
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: getcolor(accent);
      fill: getcolor(primary-white);
    }
  }
}
