ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: $mainFont, sans-serif;
  color: getcolor(primary-h);
  letter-spacing: 0.03em;
  background-color: getcolor(primary-white);
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: getcolor(accent);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h2::selection,
h3::selection,
h4::selection,
h1::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  color: #fff;
  background-color: getcolor(accent);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
