a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
  transition-property: fill, color, background-color, box-shadow, transform;
}
button {
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
  transition-property: color, background-color, box-shadow, fill, transform;
  &:hover {
    animation-name: button;
    animation-duration: 550ms;
    animation-timing-function: $transition-function;
    animation-iteration-count: 1;
  }
  &:active {
    transform: scale(0.9);
  }
}
@keyframes button {
  17% {
    transform: translatex(6px);
  }
  33% {
    transform: translatex(-4px);
  }
  50% {
    transform: translatex(4px);
  }
  67% {
    transform: translatex(-1px);
  }
  83% {
    transform: translatex(1px);
  }
  100% {
    transform: translatex(0);
  }
}
