a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
  transition-property: fill, color, background-color, box-shadow, transform;
}
button {
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
  transition-property: color, background-color, box-shadow, fill, transform;
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.98);
  }
}
