$mainFont: 'Roboto';
$secondaryFont: 'Raleway';
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$colors: (
  'primary-h': #212121,
  'primary-p': #757575,
  'accent': #2196f3,
  'primary-white': #ffffff,
  'hero-footer-color': #2f303a,
  'secondary-bg': #f5f4fa,
  'borders-color': #afb1b8,
  'hover-accent': #188ce8,
);
@function getcolor($key){
    @return map-get($colors, $key)
}
